.App{
  /* background-image: url('./assets/rich-jones-Doq.jpg'); */
  background-color: rgb(4, 6, 12);
  min-height: 100vh;
  color: white;
  padding-top: 70px;
}

.title{
  text-align: center;
  margin-bottom: 20px;
}
/*  #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6 */
.title h1{
  text-transform: capitalize;
  color: #57E6E6;
  letter-spacing: 2px;
}
.title h3{
  text-transform: capitalize;
  color: #57E6E6;
  letter-spacing: 4px;
  opacity: .8;
}